.intro{
    margin: 92px auto 0 auto;
    display: grid;
    width: 690px;
    color: #FFF;
    overflow:hidden;
}
@media screen and (max-width: 768px) {
    .intro{
        max-width: 720px;
        margin-top: 88px;
    }
}
@media screen and (max-width: 320px) {
    .intro{
        max-width: 288px;
        margin-top: 64px;
    }
}